<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Simulado</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="login-page">

    <div class="card login-card">

        <h3><b>Buscar Simulado</b></h3>

        <p class="instrucao">
            Digite o código do simulado fornecido pelo professor para iniciar.
        </p>

        <form action="#">
            <div class="form-group">
                <input type="text" id="codigo" class="form-input" placeholder=" " required>
                <label for="codigo">Código do Simulado</label>
            </div>

			<a href="/aluno/fazer-simulado" class="btn btn-primary">Buscar</a>
        </form>

    </div>

</body>
</html>
