<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Simulado</title>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="login-page">

    <div class="card login-card">

        <h3><b>Seu simulado foi enviado com sucesso!</b></h3>

        <form>
			<p class="instrucao">
				
			            Acertos: x/10
			</p>			
			<a href="/aluno/buscar-simulado" class="btn btn-primary">Retornar à página de busca</a>
        </form>

    </div>

</body>
</html>
