<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Questão</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="coordinator-layout">

<!-- Navbar -->
<div th:replace="~{navbar :: navbar}"></div>

<main>
	<div class="container mt-3">
        <div class="mt-5 p-5 text-sucess rounded" style="background-color: rgb(250, 250, 250); color: rgb(187, 187, 187);">
            <h4>Projeto Avalia - Sua prova, nossa alegria!</h4> 
            <p>Trabalho realizado pelo grupo Denna1 para a matéria de Projeto de Engenharia de Software, com os integrantes:
				Amanda Yasmin Botto, João Gabriel Lima de Moraes, Leonardo Durval Di Bonito, Lucas da Silva Barros e Vinicius Feitosa de Araujo.
			</p> 
        </div>
    </div>
	            
</main>

</body>
</html>
