<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
	
<header class="coordinator-navbar">
    <h2 th:text="${pageTitle}">Página</h2>

    <nav>
    <ul class="nav-menu">
		<!-- Navbar: Cadastro de Questão -->
		<li class="nav-item" th:classappend="${paginaAtiva == 'cadastroQuestao'} ? ' active' : ''">
		    <a th:href="@{/cadastroQuestao}"> <span class="material-icons">description</span> Cadastro de Questão </a>
		</li>
		
		<!-- Navbar: Montar Prova -->
        <li class="nav-item" th:classappend="${paginaAtiva == 'montarProva'} ? ' active' : ''">
		    <a th:href="@{/montarProva}"> <span class="material-icons">edit_note</span> Montar Prova </a>
		</li>
		
		<!-- Navbar: Banco de provas -->
        <li class="nav-item" th:classappend="${paginaAtiva == 'bancoProvas'} ? ' active' : ''">
			<a th:href="@{/bancoProvas}"> <span class="material-icons">folder_open</span> Banco de Provas</a>
		</li>
		
		<!-- Navbar: Gerenciar Questões -->
        <li class="nav-item" th:classappend="${paginaAtiva == 'gerenciarQuestoes'} ? ' active' : ''">
			<a th:href="@{/gerenciarQuestoes}"> <span class="material-icons">search</span> Gerenciar Questões</a>
		</li>
		
		<!-- Navbar: Gerenciar Usuários -->
        <li class="nav-item"><a><span class="material-icons">group</span> Gerenciar Usuários</a></li>
    </ul>
    </nav>

	<div class="user-profile">
	        <img th:src="@{/imagens/Avatar.png}" alt="Avatar">
			
	        <!-- Logout -->
	        <form th:action="@{/logout}" method="post" onsubmit="return confirm('Tem certeza que deseja sair?');">
	            <button type="submit" class="logout-link">
	                Sair
	            </button>
	        </form>
	    </div>
	
</header>

</div>
</body>
</html>
