<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Prova</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="container py-5">
        <h1 class="text-center mb-4">Gerar Prova</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title mb-3">Selecione uma disciplina para gerar a prova:</h5>

                <form th:action="@{/teste/provas/gerar-prova}" method="post">
                    <div class="mb-3">
                        <select class="form-select" name="disciplinaId">
                            <option th:each="disciplina : ${disciplinas}"
                                    th:value="${disciplina.id}"
                                    th:text="${disciplina.nome}">
                            </option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
				        <label for="quantidade" class="form-label">Quantidade de questões:</label>
				        <input type="number" name="qntQuestoes" class="form-control" 
				               min="1" max="50" value="5" required>
				    </div>

                    <button type="submit" class="btn btn-primary">Gerar Prova</button>
                </form>

            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
